.repoList {
    display: flex;
    flex-direction: column;
}

.repo-link {
    color: white;
    text-decoration: none;
}

.repo-card {
    padding-left: 2%;
    width: 100%;
    border: 3px solid hsl(163, 72%, 41%);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 35px;
    background-color: hsl(228, 28%, 20%);
}

.repo-card:hover {
    border: 4px solid hsl(163, 97%, 57%);
}

.repo-name {
    font-size: 2rem;
}

.repo-details {
    padding-left: 2rem;
}

.repo-stats {
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.res-prof {
    border-radius: 50%;
}

@media screen and (max-width: 600px) {
    .res-prof {
        display: none;
    }

    .repo-card {
        padding-left: 0%;
    }
}