.statPage {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.statPage > a {
    color: #0070f3;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    text-decoration: none;
}

.avatar {
    border-radius: 50%;
    border: 8px #0070f3 solid;
    height: 150px;
}

.stats {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 10px;
}

.statCard {
    background-color: #24292e;
    height: 7rem;
    width: 10rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.statCard > h1 {
    font-size: 2rem;
    padding: 0;
    margin: 0;
}

.statCard > p {
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
}